.container {
    width: 400px;
    height: 300px;
    background-color: thistle;
    text-align: center;
}

.container h1 {
    color: salmon;
    padding-top: 20px;
    font-size: 40px;
}

#weekday {
    color: snow;
    font-size: 32px;
    margin-top: 50px;
    font-weight: bold;
}

#phrase {
    color: aquamarine;
    font-size: 30px;
    margin-top: 20px;
}

#btn {
    margin-top: 40px;
    font-size: 20px;
    border-radius: 50px;
    background-color: snow;
    color: salmon;
}

#btn:hover {
    background-color: aquamarine;
    color: salmon;
}
